table.table-header {
	width: 100%;
	border-collapse: collapse;
}

table.table-header tr {
	line-height: 1.5em;
}

table.table-header th,
table.table-header td {
	padding: .25em;
}

table.table-items {
	width: 100%;
	margin-top: 25px;
	border-collapse: collapse;
}

table.table-items thead tr {
	border-top: 2px solid #ddd;
	border-bottom: 2px solid #ddd;
}

table.table-items th {
	padding: .25em;
	text-align: center;
}

table.table-items tr {
	line-height: 1.5em;
	border-bottom: 1px solid #ddd;
}

table.table-items tr.category {
	font-weight: bold;
	border-bottom-width: 2px;
}

table.table-items tr.totals {
	font-weight: bold;
	border-bottom: 2px solid #ddd;
	border-top: 2px solid #ddd;
}

table.table-items td:nth-child(1),
table.table-items th:nth-child(1) {
	text-align: left;
}

table.table-items td {
	padding: .25em;
	text-align: right;
}

table.table-items th.text, table.table-items td.text {
	text-align: left;
}

table.table-items th.currency, table.table-items td.currency {
	text-align: right;
	width: 10%;
}

table.table-items th.center, table.table-items td.center {
	text-align: center
}

table.table-items td.number {
	width: 100px;
	text-align: center;
}

table.table-items td.number input {
	width: 60%;
	text-align: right;
}
